* {
  box-sizing: border-box;
}

#menu {
  padding: 0 3rem;
  margin: 0.5rem;
}

.banner {
  background-image: url("./img/banner.jpeg");
  background-position: center;
  background-size: cover;
  padding: 20%;
  color: purple;
  height: 100vh;
}

.contact {
  background-image: url("./img/map.jpeg");
}

.btn {
  padding: 8px 16px;
}

.rounded {
  color: white;
  padding: 25px;
  background-color: #dc3545;
  height: 150px;
  width: 150px;
  border-radius: 50% !important;
}
.staff img {
  width: 250px;
  border: 10px solid #cccccc;
}
.rounded-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}